$font1: "Gotham Pro", sans-serif;
$font2: "Nexa Replica RU", sans-serif;

a{
	text-decoration: none;
}

body{
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
}

*:focus{
	outline: none;
}

.count-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	.dot{
		width: 16px;
		height: 16px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		box-sizing: border-box;
		display: block;
		border-radius: 100%;
		background: transparent;
		+.dot{
			margin-left: 33px;
		}
		&.active{
			background: #FFFFFF;
		}
	}
}

.btn{
	background: #DC0021;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	font-family: $font2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	margin: 0 auto;
	&:hover{
		background: #9e001f;
	}
	&-green{
		background: rgb(0,155,2);
		&:hover{
			background: rgb(0, 108, 2);
		}
	}
}