$font1: "Futura PT", sans-serif;
$font2: "Misto";

a{
	text-decoration: none;
}

body{
	color: #00202b;
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
}

.container{
	width: 79.84375vw;
	margin: 0 auto;
	position: relative;
}


.section-1{
	background: url("../img/header_bg.jpg") center top no-repeat;
	background-size: 100% auto;
	position: relative;
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 26.04vw;
		background: #1B141B;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
	}

	//min-height: 44.427083vw;
	.container{
		padding-top: 3.4375vw;
	}
	.header-row{
		display: flex;
		justify-content: space-between;
		width: 42.70833vw;
		align-items: flex-start;
		.logo{
			width: 9.427083vw;
			display: block;
			img{
				display: block;
				width: 100%;
			}
		}
		.brand{
			width: 5.72916vw;
			display: block;
			img{
				display: block;
				width: 100%;
			}
		}
	}

	.header-info{
		color: #ffffff;
		font-size: 1.14583vw;
		text-transform: uppercase;
		margin-top: 1.0416vw;
		margin-left: 10.052083vw;
		font-weight: 500;
		.go-text{
			color: #ffffff;
			display: inline-block;
			margin-top: 1.0416vw;
			border-bottom: 2px solid #ff5900;
			&:hover{
				border-color: transparent;
			}
		}
	}

	.header-title{
		width: 46.25vw;
		margin-top: 5.31417vw;
		.big{
			font-family: $font2;
			color: #ffffff;
			font-size: 8.85416vw;
			font-weight: 400;
			text-transform: uppercase;
			display: block;
			line-height: 0.8;
		}
		.small{
			color: #263a41;
			font-size: 2.0833vw;
			text-transform: uppercase;
			letter-spacing: 0.2vw;
			display: block;
			text-align: right;
			line-height: 1;
			font-weight: 500;
		}
	}

	.right-img{
		display: block;
		width: 29.635416vw;
		position: absolute;
		right: 0;
		top: 3.4375vw;
		img{
			width: 100%;
			display: block;
		}
	}

	.header-text{
		width: 29.635416vw;
		color: #00202b;
		line-height: 1.6666vw;
		font-size: 1.145833vw;
		margin-top: 1.875vw;
		>p{
			margin-bottom: 1.0416vw;
		}
		.vdoh-link{
			font-weight: 500;
			letter-spacing: 0.10416px;
			text-transform: uppercase;
			display: block;
			a{
				color: #00202b;
				&:hover{
					border-bottom: 2px solid #ff5900;
				}
			}

		}
		.arrow-down{
			margin-top: 1.30208vw;
			a{
				display: block;
				width: 1.927vw;
				height: 1.927vw;
				background: url("../img/icon-arrow.png") center center no-repeat;
				background-size: contain;
				cursor: pointer;
			}
		}
	}

}

.section-2{
	width: 100%;
	border-top: 1px solid #00202b;
	border-bottom: 1px solid #00202b;
	padding: 0.406vw 0;
	//margin-top: 3.958333vw;
	.container{
		display: flex;
		align-items: center;
		color: #00202b;
		font-size: 1.14583vw;
		font-weight: 500;
		text-transform: uppercase;
		.left{
			width: 49.739583vw;
			text-align: center;
		}
		.right{
			margin-left: 0.572916vw;
			display: flex;
			align-items: center;
			a.scroll{
				color: #00202b;
				border-bottom: 2px solid #ff5900;
				&:hover{
					border-color: transparent;
				}
			}
			.brand{
				width: 5.72916vw;
				display: block;
				margin-left: 3vw;
				img{
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.section-3{
	width: 100%;
	overflow: hidden;
	//padding-bottom: 7.2916vw;
	padding-top: 2.083vw;

	.mobile-text{
		display: none;
	}
	.tabs{
		padding-left: 20.052vw;
		overflow: visible;
		.tab{
			text-align: center;
			width: auto;
			height: 2.604vw;
			line-height: 1.302vw;
			opacity: 0.5;
			color: #00202b;
			font-size: 0.9375vw;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.07vw;
			cursor: pointer;
			position: relative;
			user-select: none;
			&.active{
				opacity: 1;
			}
			+.tab{
				margin-left: 4.947916vw;
			}
			+.active{
				margin-left: 6.25vw;
			}
			&.active{
				+.tab{
					margin-left: 6.25vw;
				}
			}
			&:first-child {
				.button-prev{
					display: none;
				}
			}
			&:last-child {
				.button-next{
					display: none;
				}
			}
		}
		.button-next,
		.button-prev{
			width: 1.302vw;
			height: 1.302vw;
			display: block;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			top: 0;
		}
		.button-next{
			background-image: url("../img/icon-right.png");
			right: -2.3958vw;
		}
		.button-prev{
			background-image: url("../img/icon-left.png");
			left: -2.3958vw;
		}
		.home{
			cursor: pointer;
			width: 1.5625vw;
			height: 1.5625vw;
			display: block;
			top: -1.71875vw;
			left: 50%;
			margin-left: -0.78125vw;
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("../img/home.svg");
		}
	}

	.slider{
		width: 100%;
		margin-top: 2vw;
		.slider-direction{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin: 0 1.5vw 1vw;
			color: #f96000;
			font-weight: 500;
			font-size: 1vw;
			line-height: .8;
			transition: opacity 0.2s linear;
			&.hidden{
				opacity: 0;
			}
			img{
				display: block;
				width: 1.7vw;
				margin-left: 1vw;
			}
		}
		.info{
			width: 9.375vw;
			padding: 0 1.97916vw 0 4.947916vw;
			font-size: 1.14583vw;
			font-weight: 400;
			line-height: 1.666vw;
			padding-top: 1.302vw;
			.orange{
				margin-top: 1.302vw;
				color: #ff5900;
				font-weight: 500;
				letter-spacing: 0.10416vw;
				text-transform: uppercase;
			}
		}
		.item{
			margin-left: 3.75vw;
			display: flex;
			height: 26.04166vw;
			min-height: 26.04166vw;
			width: auto;
			margin-bottom: 1px;
			&:last-child{
				margin-right: 4.947916vw;
			}
			.img{
				width: 19.5833vw;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.right{
				display: flex;
				flex-direction: column;
				justify-content: center;
				box-sizing: border-box;
				width: 14.27083vw;
				padding: 1vw 0 1vw 1.7vw;

				overflow: hidden;
				position: relative;
				height: 100%;
				.cat{
					color: #7f8f95;
					font-size: 0.833vw;
					font-weight: 500;
					letter-spacing: 0.08vw;
					text-transform: uppercase;
				}
				.title{
					color: #00202b;
					font-size: 2.083vw;
					font-weight: 400;
					line-height: 1;
					margin: 1.04166vw 0;
					a{
						width: 2.4vw;
						height: 2.4vw;
						background: url("../img/play.png") center center no-repeat;
						background-size: contain;
						margin-left: 1vw;
						vertical-align: bottom;
						display: none;
						&:hover{
							transform: scale(1.1);
						}
					}
				}
				.more{
					color: #00202b;
					font-size: 0.94vw;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.09vw;
				}
				.text{
					display: none;
					color: #00202b;
					font-size: 1.14583vw;
					font-weight: 400;
					p{
						margin-bottom: 1.5625vw;
						a{
							color: #00202b;
							border-bottom: 2px solid #ff5900;
							&:hover{
								border-color: transparent;
							}
						}
						span{
							border-bottom: 2px solid #ff5900;
						}
					}
				}
				.share{
					display: none;
					align-items: center;
					.label{
						font-weight: 500;
						font-size: 0.833vw;
						text-transform: uppercase;
						letter-spacing: 0.08vw;
						&::after{
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 5.4166vw;
							height: 1px;
							background: #000000;
							margin-left: 0.677vw;
						}
					}
					.social{
						display: flex;
						align-items: center;
						margin-left: 1.09375vw;
						a{
							+a{
								margin-left: 1.35416vw;
							}
							display: block;
							background-position: center center;
							background-size: contain;
							background-repeat: no-repeat;
							height: 1.14583vw;
							&.vk{width: 1.14583vw; background-image: url("../img/soc-vk.png");}
							&.fb{width: 0.572916vw; background-image: url("../img/soc-fb.png");}
							&.tw{width: 0.98958vw; background-image: url("../img/soc-tw.png");}
						}
					}
				}
			}
			@media all and (min-width: 1024px) {
				&:hover:not(.video-block){
					.img{
						opacity: 0;
						width: 0;
					}
					.right{
						display: block;
						width: 33.85416vw;
						border: 1px solid #00202b;
						background-color: #ffffff;
						padding: 1.5625vw  4.166vw;
						.title{
							a{
								display: inline-block;
							}
						}
						.more{
							display: none;
						}
						.text{
							display: block;
						}
						.share{
							display: flex;
						}
					}
				}
			}

			&.video-block{
				perspective: 1000;
				width: 33.85413vw;
				>.cat{
					display: none;
				}
				.front, .back {
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
				}
				.flipper {
					transition: 0.6s;
					transform-style: preserve-3d;
					position: relative;
					width: 100%;
				}
				.front {
					z-index: 2;
					transform: rotateY(0deg);
					display: flex;
				}
				.back {
					transform: rotateY(180deg);
					img{
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

				}

				&:hover {
					.flipper {
						transform: rotateY(180deg);
					}
				}
			}

		}
	}

	.address-block{
		margin-top: 2vw;
		text-align: center;
		opacity: 0.5;
		color: #00202b;
		font-size: 1vw;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 0.8;
	}

	.disclaimer{
		margin-top: 0.2vw;
		margin-bottom: 0.2vw;
		text-align: center;
		opacity: 0.5;
		color: #00202b;
		font-size: 2.5vw;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: .3vw;
		line-height: 0.8;
		+.address-block{
			margin-top: 0;
		}
	}
}

.section-4{
	width: 100%;
	background-color: #f3ecdc;
	.test{
		padding: 3.4375vw 0 1vw;
		.top-line{
			display: flex;
			align-items: center;
			.logo{
				width: 5.72916vw;
				display: block;
				img{
					display: block;
					width: 100%;
				}
			}
			.title{
				margin-left: 4.53125vw;
				display: flex;
				align-items: center;
				.big{
					font-family: $font2;
					line-height: 0.8;
					color: #00202b;
					font-size: 6.77083vw;
					font-weight: 400;
					text-transform: uppercase;
				}
				.small{
					color: #00202b;
					font-size: 0.9375vw;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.09vw;
					margin-left: 0.677vw;
				}
			}
		}

		.counter{
			text-align: center;
			margin-top: 1.302vw;
			opacity: 0.5;
			color: #00202b;
			font-size: 0.9375vw;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.09vw;
		}
		.test-main{
			position: relative;
			margin-top:  3.125vw;
			.img-block{
				display: block;
				height: 31.66vw;
				position: relative;
				margin: 0 auto 0;
				width: 48.64583vw;
				img{
					pointer-events: none;
					user-select: none;
					display: none;
					position: absolute;
					&.img1{left: 10.052vw; top: 5.78125vw; width: 26.614583vw;}
					&.img2{left: 0; top: 2.864583vw; width: 35.46875vw;}
					&.img3{left: 32.864583vw; top: 18.697916vw; width: 10.52083vw;}
					&.img4{left: 25.052083vw; top: 1.77083vw; width: 23.59375vw;}
					&.img5{left: 23.64583vw; top: 14.21875vw; width: 20.260416vw;}
					&.img6{left: 7.65625vw; top: 0; width: 22.8125vw;}
					&.img7{left: 0.4166vw; top: 11.875vw; width: 27.03125vw;}
					&.active, &.hover{
						display: block !important;
					}
				}
			}
			.right,
			.left{
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				width: 14.9479vw;
				min-height: 5.78125vw;
				border: 1px solid #00172a;
				cursor: pointer;
				color: #00202b;
				font-size: 2.29166vw;
				font-weight: 400;
				position: absolute;
				top: 8.17708vw;
				line-height: 1;
				user-select: none;
				transition: all 0.4s ease;
				&:hover{
					border-color: #ff5900;
				}
				&.light{
					background: #f96000;
					color: #ffffff;
				}
			}
			.left{
				left: -5.88541vw;
			}
			.right{
				right: -5.88541vw;
			}
		}
	}
	.results{
		display: none;
		min-height: 48.9583vw;
		padding: 3.4375vw 0 5.2083vw;
		.logo{
			width: 5.72916vw;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			img{
				display: block;
				width: 100%;
			}
		}
		.title-mobile{
			display: none;
			@media all and (min-width: 1024px) {
				display: none !important;
			}
		}

		.left{
			position: absolute;
			top: 9.375vw;
			width: 48.697916vw;
			.img-block{
				display: block;
				height: 31.66vw;
				position: relative;
				img{
					pointer-events: none;
					user-select: none;
					display: none;
					position: absolute;
					&.img1{left: 10.052vw; top: 5.78125vw; width: 26.614583vw;}
					&.img2{left: 0; top: 2.864583vw; width: 35.46875vw;}
					&.img3{left: 32.864583vw; top: 18.697916vw; width: 10.52083vw;}
					&.img4{left: 25.052083vw; top: 1.77083vw; width: 23.59375vw;}
					&.img5{left: 23.64583vw; top: 14.21875vw; width: 20.260416vw;}
					&.img6{left: 7.65625vw; top: 0; width: 22.8125vw;}
					&.img7{left: 0.4166vw; top: 11.875vw; width: 27.03125vw;}
					&.active{
						display: block !important;
					}
				}
			}
			.share{
				text-align: center;
				.label{
					margin-top: 2.34375vw;
					opacity: 0.5;
					color: #00202b;
					font-size: 0.9375vw;
					font-weight: 500;
					line-height: 1.35416vw;
					text-transform: uppercase;
					letter-spacing: 0.083vw;
				}
				.social{
					display: flex;
					align-items: center;
					justify-content: center;
					a{
						+a{
							margin-left: 1.0416vw;
						}

						margin-top: 1.0416vw;
						width: 3.125vw;
						height: 3.125vw;
						cursor: pointer;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						&.ok{background-image: url("../img/soc-ok-2.png")}
						&.tw{background-image: url("../img/soc-tw-2.png")}
						&.vk{background-image: url("../img/soc-vk-2.png")}
						&.fb{background-image: url("../img/soc-fb-2.png")}
					}
				}
			}
		}
		.right{
			margin-left: 40.2604vw;
			padding-top: 0.78125vw;
			display: none;
			.title{
				color: #00202b;
				font-size: 1.14583vw;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 0.10416vw;
				z-index: 1;
				position: relative;
				span{
					display: block;
					color: #00202b;
					font-family: $font2;
					font-size: 6.77083vw;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
			.text{
				margin-left: 9.739583vw;
				margin-top: 1.04166vw;
				color: #00202b;
				font-size: 1.14583vw;
				font-weight: 400;
				line-height: 1.71875vw;
				>p{
					margin-bottom: 1.3vw;
				}
				a{
					color: #00202b;
					border-bottom: 2px solid #ff5900;
					&:hover{
						border-color: transparent;
					}
				}
				span{
					border-bottom: 2px solid #ff5900;
				}
				.other{
					text-transform: uppercase;
					font-weight: 500;
					letter-spacing: 0.104166vw;
				}
			}
		}
	}
}

.copy{
	height: auto !important;
	padding: 0.92vw  0 2.552vw;
	.text{
		text-align: center;
		opacity: 0.5;
		color: #00202b;
		font-size: 0.9375vw;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.09vw;
	}

}