$resolution: 827;

#test1{
  width: vw(827);
  height: vw(670);
  box-sizing: border-box;
  padding: vw(45) 0 0;
  .btn{
    width: vw(323);
    height: vw(55);
    font-size: vw(16);
  }
  .lie,.true{
    font-family: $font2;
    font-style: normal;
    font-weight: bold;
    font-size: vw(16);
    width: vw(190);
    height: vw(55);
  }

  .vopros-block{
    width: 100%;
    box-sizing: border-box;
    padding: 0 vw(45);
    margin-top: vw(30);
    .vopros{
      font-family: $font2;
      font-style: normal;
      font-weight: bold;
      font-size: vw(20);
      line-height: vw(27);
      text-align: center;
      color: #FFFFFF;
    }
    .btns-row{
      margin-top: vw(70);
      display: flex;
      justify-content: space-between;
    }
  }

  .otvet-block{
    display: none;
    margin-top: vw(35);
    .img-block{
      display: flex;
      justify-content: center;
      >div{
        display: none;
        &.active{
          display: flex;
        }
      }
    }
    .otvet{
      margin-top: vw(34);
      box-sizing: border-box;
      padding: 0 vw(8);
      font-family: $font1;
      font-style: italic;
      font-weight: normal;
      font-size: 20px;
      line-height: 38px;
      color: #FFFFFF;
      span{
        font-style: normal;
        font-weight: bold;
      }
    }
    .btn{
      margin-top: vw(25);
    }
  }

  .count-dots{
    .dot{
      width: vw(16);
      height: vw(16);
      +.dot{
        margin-left: vw(33);
      }
    }
  }
}

